@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #f3f4f6;
    --card: rgba(0, 0, 0, 0.4);
    --card-foreground: #f3f4f6;
    --border: rgba(255, 255, 255, 0.1);
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
